section.section.hero.Background
    canvas.Background-canvas.section-title__effect
    .hero__socials
        ul.socials
            .socials__container
                svg.icon(width='50', height='50')
                    use(xlink:href='assets/images/sprite.svg#git')
                svg.icon(width='50', height='50')
                    use(xlink:href='assets/images/sprite.svg#in')
                svg.icon(width='50', height='50')
                    use(xlink:href='assets/images/sprite.svg#vk')
    //- a(href="#")#hamburger.hamburger-link.hero__menu
    //-     .hamburger
    a(href="#")#hamburger.hamburger-link.hero__menu.hamburger
        span.line
        span.line
        span.line
    .hero__title
        .section-title
        .hero__user.user
            .user__pic
                img.user__pic-img(src="assets/images/avatarme.png", alt="")
            .user__info
                .user__name Елизавета Чуйко
                .user__data Личный сайт разработчика
    .hero__arrow.arrow-down
    svg.triangle.triangle_fill_white(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1200 110', preserveaspectratio='none')
        polygon.about__triangle_left(points='0,0 0,111 600.8,111 600.8,100')
        polygon.about__triangle_right(points='1200,0 1200,111 600,111 600.8,100')
