.slider__content.slider__container
    .slider__info
        .slide-info.showing
            .slide__title.block-subtitle Сайт школы онлайн образования
            .slide__description HTML, CSS, JAVASCRIPT
            .slide__button-show Посмотреть сайт
        //- .slide-info
        //- .slide-info
    .slider__display
        .slide.showing
            img.slide__img(src="assets/images/work-1.png", alt="")
        //- .slide
        //- .slide
    .slider__btns
        button.controls.button__prev#previous
        button.controls.button__ment#next