.slider__container
    .slider-box#slides
        .slider__content.slide.showing
            .slider__info
                .slide-info
                    .slide__title.block-subtitle Сайт школы онлайн образования
                    .slide__description HTML, CSS, JAVASCRIPT
                    .slide__button-show Посмотреть сайт
            .slider__display
                img.slide__img(src="assets/images/work-1.png", alt="")
        .slider__content.slide
            .slider__info
                .slide-info
                    .slide__title.block-subtitle Сайт магазина
                    .slide__description HTML, CSS, JAVASCRIPT
                    .slide__button-show Посмотреть сайт
            .slider__display
                img.slide__img(src="assets/images/work-2.png", alt="")
    .slider__btn-prev
        button#previous.controls.button__prev
    .slider__btn-next
        button#next.controls.button__next