extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    .welcome__container.Background
        canvas.Background-canvas
        button.log-in.welcome__btn(type='submit') Авторизироваться
        .flip__container
            .container__enter
                .welcome__box
                    .welcome__maincontent
                        .user
                            .user__pic
                                img.user__pic-img(src="assets/images/avatarme.png", alt="")
                            .user__info
                                .user__name.asd Елизавета Чуйко
                                .user__data Личный сайт разработчика
                        .welcome__socials
                            ul.socials
                                .socials__container
                                    svg.icon(width='50', height='50')
                                        use(xlink:href='assets/images/sprite.svg#git')
                                    svg.icon(width='50', height='50')
                                        use(xlink:href='assets/images/sprite.svg#in')
                                    svg.icon(width='50', height='50')
                                        use(xlink:href='assets/images/sprite.svg#vk')

                    //- include ../common/menu.pug
                    .welcome__menu_container
                        ul.welcome__menu
                            //- li.menu__item
                            //-     a.menu__link(href="index.html") Главная
                            li.welcome__menu__item
                                a.welcome__menu__link(href="about.html") Обо мне
                            li.welcome__menu__item
                                a.welcome__menu__link(href="my-works.html") Мои работы
                            li.welcome__menu__item
                                a.welcome__menu__link(href="blog.html") Блог

                .login
                    .login__container
                        .login__title.block-subtitle.block-subtitle_white Авторизироваться
                        .login__form_container
                            form.login__form-box
                                label(for="login")
                                input.login__form(name="login" id="login" type="password" placeholder="login")
                                label(for="password")
                                input.password__form(name="password" id="password" type="password" placeholder="password")
                                .checkbox__container
                                    input.checkbox__form(name="checkbox" id="checkbox" type="checkbox")
                                    label(for="checkbox") Я человек
                                .form-quest Вы точно не робот?
                                .radio__container
                                    .yes-box
                                        input.radio__form-yes(name="radio" id="radio-yes" type="radio")
                                        label(for="radio-yes") Да
                                    .no-box
                                        input.radio__form-no(name="radio" id="radio-no" type="radio")
                                        label(for="radio-no") Не уверен

                    .login__menu_container
                        ul.login__menu
                            li.login__item
                                a.login__link(href="about.html") На главную
                            li.login__item
                                a.login__link(href="#") Войти
        .welcome__copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016