extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    //- h1 Главная
    //- form
    //-     label(for="email") email
    //-     input(name="email" id="email")
    //-     label(for="password") password
    //-     input(name="password" id="password")
    //-     button Войти
    .welcome__container
        button.log-in.welcome__btn(type='submit') Авторизироваться
        .welcome__box
            .welcome__maincontent
                .user
                    .user__pic
                            img.user__pic-img(src="assets/images/avatarme.png", alt="")
                    .user__info
                        .user__name.asd Елизавета Чуйко
                        .user__data Личный сайт разработчика
                .welcome__socials
                    ul.socials
                        .socials__container
                            svg.icon(width='50', height='50')
                                use(xlink:href='assets/images/sprite.svg#git')
                            svg.icon(width='50', height='50')
                                use(xlink:href='assets/images/sprite.svg#in')
                            svg.icon(width='50', height='50')
                                use(xlink:href='assets/images/sprite.svg#vk')

            //- include ../common/menu.pug
            .welcome__menu_container
                ul.menu.welcome__menu
                    //- li.menu__item
                    //-     a.menu__link(href="index.html") Главная
                    li.menu__item
                        a.menu__link(href="about.html") Обо мне
                    li.menu__item
                        a.menu__link(href="my-works.html") Мои работы
                    li.menu__item
                        a.menu__link(href="blog.html") Блог
        .welcome__copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016
        .login
            .login__container
                .login__title.block-subtitle.block-subtitle_white Авторизироваться
                .login__form
                    form.login__form-box
                        label(for="login")
                        input.login__form(name="login" id="login" type="password" placeholder="login")
                        label(for="password")
                        input.password__form(name="password" id="password" type="password" placeholder="password")
                        label(for="checkbox") Я человек
                        input.checkbox__form(name="checkbox" id="checkbox" type="checkbox")
                        label(for="radio") Вы точно не робот
                        input.radio__form(name="radio" id="radio" type="radio")
            .login__menu_container
                ul.menu.login__menu
                    li.login__item
                        a.login__link(href="about.html") Обо мне
                    li.login__item
                        a.login__link(href="my-works.html") Мои работы
                    li.login__item
                        a.login__link(href="blog.html") Блог        
                    
                