extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    .preloader
        .preloader__sninner
            .preloader__animate
                svg.preloader__icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='80px', height='95.113px', viewbox='0 0 80 95.113',enable-background='new 0 0 80 95.113', xml:space='preserve')
                    path.preloader__path(fill='none', stroke='#fff', stroke-width='3.9003', stroke-miterlimit='10', d='M0,38.005c6.663,0,6.663,7.801,13.327,7.801\
                    c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801\
                    c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005')
                    path.preloader__path1(fill='none', stroke='#fff', stroke-width='3.9003', stroke-miterlimit='10', d='M0,61.684c6.663,0,6.663,7.801,13.327,7.801\
                    c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801\
                    c6.67,0,6.67,7.801,13.339,7.801S73.33,61.684,80,61.684')
                    path.preloader__path3(fill='none', stroke='#fff', stroke-width='3.9003', stroke-miterlimit='10', d='M0,85.362c6.663,0,6.663,7.801,13.327,7.801\
                    c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801\
                    c6.67,0,6.67,7.801,13.339,7.801S73.33,85.362,80,85.362')
            .preloader__percent#percent
    .welcome__container.Background
        canvas.Background-canvas
        button.log-in.welcome__btn(type='submit') Авторизироваться
        .flip__container
            .container__enter
                .welcome__box
                    .welcome__maincontent
                        .user
                            .user__pic
                                img.user__pic-img(src="assets/images/avatarme.png", alt="")
                            .user__info
                                .user__name.asd Елизавета Чуйко
                                .user__data Личный сайт разработчика
                        .welcome__socials
                            ul.socials
                                .socials__container
                                    svg.icon(width='50', height='50')
                                        use(xlink:href='assets/images/sprite.svg#git')
                                    svg.icon(width='50', height='50')
                                        use(xlink:href='assets/images/sprite.svg#in')
                                    svg.icon(width='50', height='50')
                                        use(xlink:href='assets/images/sprite.svg#vk')

                    //- include ../common/menu.pug
                    .welcome__menu_container
                        ul.welcome__menu
                            //- li.menu__item
                            //-     a.menu__link(href="index.html") Главная
                            li.welcome__menu__item
                                a.welcome__menu__link(href="about.html") Обо мне
                            li.welcome__menu__item
                                a.welcome__menu__link(href="my-works.html") Мои работы
                            li.welcome__menu__item
                                a.welcome__menu__link(href="blog.html") Блог

                .login
                    .login__container
                        .login__title.block-subtitle.block-subtitle_white Авторизироваться
                        .login__form_container
                            form.login__form-box
                                label(for="login")
                                input.login__form(name="login" id="login" type="password" placeholder="login")
                                label(for="password")
                                input.password__form(name="password" id="password" type="password" placeholder="password")
                                .checkbox__container
                                    input.checkbox__form(name="checkbox" id="checkbox" type="checkbox")
                                    label(for="checkbox") Я человек
                                .form-quest Вы точно не робот?
                                .radio__container
                                    .yes-box
                                        input.radio__form-yes(name="radio" id="radio-yes" type="radio")
                                        label(for="radio-yes") Да
                                    .no-box
                                        input.radio__form-no(name="radio" id="radio-no" type="radio")
                                        label(for="radio-no") Не уверен

                    .login__menu_container
                        ul.login__menu
                            li.login__item
                                a.login__link(href="about.html") На главную
                            li.login__item
                                a.login__link(href="#") Войти
        .welcome__copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016