extends ../template

block variables
    - var title = 'Мои работы'

block content
    .works__wrapper
        include ../common/header.pug
        section.section.works__slider
            .slider__title.block-subtitle Мои работы
            .slider__content.

        section.section.works__review