.works__wrapper {
    width: 100%;
    height: 100%;
    min-height: rem(650px);
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 600px 940px 1360px ;
    grid-template-areas:
      "header"
      "slider"
      "review";
      @include ipad {
        grid-template-rows: 500px 1150px 1310px;
    }
    @include phones {
        grid-template-rows: 560px 660px 1490px;
    }
}

.works__slider {
    grid-area: slider;
    background-color: #f8f9f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include ipad {
        justify-content: flex-start;
    }
}

.works__review {
    grid-area: review;
    background-image: url('../images/review-bg.png');
    @include cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        background-image: url("../images/leaf3.png");
        width: 150px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 500px;
        right: 10px;
    }
}


.block-review {
    display: flex;
    justify-content: center;
}

.block-review__first {
    margin-right: 15px;
}

.block-review__avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.block-review__pic {
    width: 100%;
    height: auto;
}

.block-review__content,
.block-review__job {
    font-size: 16px;
    font-family: "robotoitalic";
    color: rgb(93, 90, 85);
    font-style: italic;
    line-height: 1.625;
    text-align: left;
    max-width: 380px;
}

.block-review__name {
font-size: 16px;
  font-family: "robotobolditalico";
  color: rgb(78, 136, 57);
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
}

.block-review__job {
    text-align: center;
}

.window-link__box {
    width: 380px;
    height: 460px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.6);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom:60px;
    z-index: 100;
}

.window-link__buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}

.window-link__send,
.window-link__reset {
    height: 45px;
    width: 50%;
    background-color: $green;
    font-size: 16px;
    font-family: "robotomedium";
    color: rgb(255, 255, 255);
    line-height: 2.257;
    text-align: center;
    border: none;
    &:hover {
        background-color: #649550;
    }
}



.window-link__send {
    border-right: 1px solid white;
    border-radius:  0 0 0 10px;
}
.window-link__reset {
    border-radius:  0 0 10px 0 ;
}

.window-link__name,
.window-link__mail {
    height: 50px;
    border-radius: 32px;
}

.window-link__message,
.window-link__name,
.window-link__mail {
    width: 340px;
    max-width: 100%;
    border: none;
    padding-left: 40px;
    font-size: 16px;
    font-family: "robotoregular";
    color: rgba(93, 90, 85, 0.502);
    line-height: 2.257;
    text-align: left;
}

.window-link__message {
    border-radius: 20px;
}

.review__content {
    margin-bottom: 50px;
}