

    // resolutions
    $desktop: 1200px;
    $laptop: 992px;
    $ipad: 768px;
    $phones: 480px;

    $grey: #566358;

    @mixin cover(){
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }