
.slider__container {
    position: relative;
    width: 100%;
    background-color: #ebefe2;
}

.slider-box {
    display: flex;
    justify-content: center;
    position: relative;
    height: 755px;
    @include ipad {
        height: 1025px;
    }
    @include phones {
        height: 560px;
    }
}

.slider__content {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 720px;
    width: 80%;
    @include ipad {
    flex-direction: column;
    height: 1025px;
    justify-content: space-around;
    }
    @include phones {
        height: 560px;
    }
}

.slider__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    @include ipad {
        width: 100%;
    }
}

.slide-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.slider__display {
    width: 50%;
    @include ipad {
        width: 90%;
    }
}

.slider__btn-prev,
.slider__btn-next {
    position: absolute;
    top: 50%;
    width: 29px;
    height: 29px;
}
.slider__btn-prev {
    left: 30px;
    @include phones {
        left: 10px;
    }
}

.slider__btn-next {
    right: 30px;
    @include phones {
        right: 10px;
    }
}

.button__prev,
.button__next {
    display: block;
    background-image: url('../images/arrow-green.png');
    background-size: auto;
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    border: none;
    background-color: transparent;
}

.button__prev {
    transform: rotate(180deg);
}


.slide__img {
    display: block;
    width: 100%;
}

.slide__description {
    font-size: 15.791px;
    font-family: "robotomedium";
    color: rgb(78, 136, 57);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 60px;
    @include phones {
        margin-bottom: 15px;
    }
}

.slide__button-show {
    font-size: 16px;
    font-family: "robotomedium";
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: $green;
    padding: 15px 20px;
    border-radius: 27px;
}


.slide{
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
}
.showing{
    opacity: 1;
    z-index: 2;
}